.contact-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: -8.47em;
  padding-top: 6em;
  height: 100vh;
  overflow: scroll;
}

.contact-container > h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 300px;
  font-weight: 400;
}

.contact-item-wrapper {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-item-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  text-decoration: none;
  color: #000;
  border: 1px solid white;
  font-weight: 400;
}

.contact-item {
  font-size: 1.5rem;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  text-decoration: none;
  color: #000;
  border: 1px solid white;
}

.contact-item:hover {
  border-bottom: 1px solid #000000;
  transition: all 0.2s ease-out;
}

@media only screen and (max-height: 600px) {
  .contact-container {
    margin-bottom: -8.47em;
    padding-top: 6em;
    overflow: scroll;
  }
  .contact-container > h1,
  .contact-item {
    font-size: 1rem;
    padding: 0.1rem;
    margin: 0.1rem;
  }
}
