.footer {
  background-color: rgb(25, 25, 25);
  padding: 3.5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  margin-top: auto;
  height: 70px;
  width: 100%;
  z-index: 999;
}

.footer-link-items > h2 {
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: 200;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.footer-link-icons {
  font-size: 28px;
  margin: 1.5rem;
  color: rgb(255, 255, 255);
}

.footer-container {
  height: 130px;
}

@media screen and (max-width: 768px) {
  .footer-link-icons {
    font-size: 22px;
    margin: 0.9rem;
  }
}
