video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

video.loading {
  background: rgb(0, 0, 0);
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.profile-image {
  border-radius: 50%;
  border: 1.5px solid rgb(255, 255, 255);
  margin-top: 1.7rem;
  height: 27%;
}

.hero-container > h1 {
  color: #fff;
  font-size: 2.5rem;
  margin-top: 0.8rem;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.164);
}

.hero-container > p {
  text-align: center;
  color: #fff;
  margin-top: 4px;
  font-size: 1rem;
  font-weight: 200;
  max-width: 600px;
  background: rgba(0, 0, 0, 0.164);
  border-radius: 7px;
}

.button-container {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
}

.hero-btns {
  margin-top: 10rem;
}

.hero-btns .btn {
  margin: 6px;
}

@media screen and (max-width: 960px) {
  .profile-image {
    margin-top: 0rem;
    /* width: 160px; */
    height: 160px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > p {
    max-width: 270px;
    font-size: 14px;
  }

  .hero-container > h1 {
    font-size: 1.6rem;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }

  .profile-image {
    margin-top: 3rem;
    /* width: 150px; */
    height: 150px;
  }
}

@media screen and (max-width: 320px) {
  .hero-container > p {
    max-width: 180px;
    font-size: 11px;
  }

  .hero-container > h1 {
    font-size: 1.3rem;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }

  .profile-image {
    margin-top: 2rem;
    /* width: 120px; */
    height: 120px;
  }
}
