.icons_container {
  background: #fff;
  padding-top: 0.5rem;
  padding-bottom: 6rem;
}

.icons_container > h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

.icons__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 5rem;
  padding-right: 5rem;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
}

@media only screen and (max-width: 968px) {
  .icon {
    width: 70px;
  }
  .icons_container > h1 {
    font-size: 1.8rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 780px) {
  .icons_container {
    padding: 1rem;
  }

  .icons_container > h1 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .icons__items {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }

  .icon {
    width: 60px;
  }
}
